<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>G4-0200</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/G4-0200.css">
    <script src="/javascripts/G4-0200js.js"></script>
    <link rel="stylesheet" href="../stylesheets/navigationBar.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<!--Die Gruppenreihenfolge wird von Studenten und Lehrkräften genutzt. Die Inhalte dieser Übersicht sind:
 - genaue Reihenfolge der Gruppenvorstellungen
 - Themen der jeweiligen Gruppen
 - Anzahl der Gruppenteilnehmer
 - geplante Zeit des gesamten Termins
 - geplante Dauer der einzelnen Präsentationen
 - Übersicht über geplante Pausen
 - Raum
-->
<div id="UserMenu_All_Header"> <div id="All_Header_left" class="All_Header_Boxes" style="float: left; margin-right: 5px"> <a href="https://osca.hs-osnabrueck.de/"> <div class="outer-wrapper" style="float:left"> <div class="frame" style="height: 52px"> <img id="oscaImagelogo" class="oscaLogo"> </div> </div> </a>

        <div class="dropdown" style="margin-left: 5px">
            <form action="/myGroups">
                <button class="header_button">Meine Gruppe</button>
            </form>
            <div class="dropdown-content">
                <a href="/joinGroup">Gruppe beitreten</a>
                <a href="/requirementsdefinition">Anforderungsdefinition</a>
            </div>
        </div>

        <form action="/presentation">
            <button class="header_button">Präsentation</button>
        </form>
    </div>

    <div id="All_Header_right" class="All_Header_Boxes" style="float: right">

        <div class="frame" style="float: left;">
            <a href="https://my.hs-osnabrueck.de/owa/">
                <div class="outer-wrapper" style="float:left">
                    <div class="frame" style="height: 52px">
                        <i id="mailIcon" class="far fa-envelope fa-lg" style="font-size: 25px"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="frame" style="float: left;">
            <a href="https://netcase.hs-osnabrueck.de">
                <div class="outer-wrapper" style="float:left">
                    <div class="frame" style="height: 52px">
                        <i id="netcaseIcon" class="fas fa-briefcase fa-lg" style="font-size: 25px"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="dropdown">
            <form action="/userInfo">
                <button class="header_button">Benutzer</button>
            </form>
        </div>
        <div class="dropdown">
            <form action="/logout">
                <button class="header_button">Logout</button>
            </form>
        </div>
    </div>
</div>

    <form method="post" action="http://127.0.0.1:8080/Livetracking">
        <button type="submit" name="livetracking">Livetracking starten</button>
    </form>

<!-- Anzeige des Moduls, Themas, Datum und Raum der Präsentation. Wird aus der Datenbank entnommen-->
<h1>Modul: <%= modulname %></h1>
<h2>Anlass: <%= anlass %></h2>
<h2>Datum: <%= tag %></h2>
<h2>Raum: <%= raum %></h2>
<!--
    Diese Seite ist nur für den Dozenten gedacht, die Studenten bekommen eine Seite nur mit Übersicht
    Zu dieser Seite gelangt man durch den Link auf G4-0100 ("Gruppenreihenfolge bearbeiten")
    aus der Spalte "Gruppenreihenfolge"<br>
    Diese Übersicht umfasst noch weitere Anforderungen, die auf dieser Seite implementiert werden.<br>
    G4-0300: Manuelle Definition der Gruppenreihenfolge und Raumbelegung und Zeiträumen für die Präsentationen und Pausenslots<br>
    G4-0400: Automatische Planung und Erstellung von Gruppenreihenfolge, Pausenslots und Raumbelegung<br>
    G4-0500: Bearbeitung der Präsentationsreihenfolge durch Drag & Drop)<br>
    G4-0600: Live-Tracking der Präsentationen<br>
-->
<form action="http://127.0.0.1:8080/getIdValues" method="post" id="idValues">
    <table rules="rows" id="sortable">
        <thead>
        <tr>
            <th>&nbsp</th>
            <th>Reihenfolge</th>
            <th>Gruppe</th>
            <th>Thema</th>
            <th>Anzahl der Gruppenteilnehmer</th>
            <th>geplante Zeit</th>
            <th>geplante Dauer</th>
            <th>geplantes Ende</th>
            <th>Raum</th>
        </tr>
        </thead>
        <tbody>
        <!-- Hier werden die einzelnen Tabellenzeilen geladen, die Anzahl der Zeilen ist abhängig von den Einträgen der Datenbank-->
        <% for (var i = 0; i < reihenfolge.length;i++) {let id = ("id_" + i); %>
        <tr>
            <td>&nbsp;</td>
            <td id="<%= id %>"><%= reihenfolge[i] %></td>
            <td><%= gruppe[i] %></td>
            <td name="thema"><%= thema[i] %></td>
            <td><%= mitglieder[i] %></td>
            <td><%= startzeit[i] %></td>
            <td><%= dauer[i] %></td>
            <td><%= ende[i] %></td>
            <td><%= raum[0] %></td>
        </tr>
        </tbody>
        <% } %>
    </table>
    <p><input type="button" onclick="getAfterSortOrder();printAlert();" value="Reihenfolge festlegen"></p>
    <input name="afterDrag" type="hidden" id="AfterSortOrder">
</form>
<script
        src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
        crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
        integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
        crossorigin="anonymous"></script>
<script>
    //Zum Sortieren der Seite
    $('#sortable').sortable({
        update: function (event, ui) {
            $(this).sortable();
        }
    });
</script>
</body>
</html>